/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#bestOfFive{
  font-size: 5rem;
  font-weight: bold;
  color: rgba(255,	123,	114,	1)	;

}

a{
  color: rgb(121,192,255);
  text-decoration: none;
}

body {
  /* background: rgba(15,	207,	125, 1);  */
  background: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  color: rgba(15,	207,	125, 1);
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
  
}


button{
  background: rgb(210	,109	,206	);
  color:rgba(15,	207,	125, 1); 
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: 10em;
  border: none;
}

.container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;

}

.flex-row{
  display: flex;
  flex-flow: row nowrap;
}

html{
  font-size: 62.5%;
}

.space-between{
  justify-content: space-between;
  gap: 3em;
}

#results{
  margin: 3rem;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(121,192,255);
}
